/*-- scss:defaults --*/

/* Colors */
$body-bg: #E1E1D3;
$body-color: rgb(55, 58, 60);
$link-color: #236C72;
$code-bg: #E1E1D3;
$code-color: #236C72;

/* Fonts */
$font-family-sans-serif: "Source Sans Pro", -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-size-root: 17px;

.cv-date {
  float: right;
}


